{% load static %}
{% autoescape off %}
<script type="text/javascript" >

// load json lists for each model
var questionJsons = {{questionJsons}};
var noteJsons = {{noteJsons}};
var quoteJsons = {{quoteJsons}};
var audioJsons = {{audioJsons}};
var photoJsons = {{photoJsons}};
var interviewJsons = {{interviewJsons}};


/*
 * For setting up the view, we need to have initial states
 * with events we wil change those states.
 * This means that our event listeners should rely on states in order to know
 * how to respond
 * css classes can be used to manage states.
 * Our primary states are:
 *      authenticated
 *      editing
 *      detail_open
 *      detail_closed
 *      item_selected
 */

var states = {};
// load state information for states
states.is_authenticated = {{authenticated}};
states.is_editing = {{editing}};
states.adding_point = false;
{% if detail_open %}
states.detail_open = {{detail_open}};
{% else %}
states.detail_open = false;
{% endif %}
{% if selected_interview %}
states.selected_interview = {{selected_interview}};
{% else %}
states.selected_interview = null;
{% endif %}

</script>
<script type="text/javascript" src="{% get_static_prefix %}lottery/js/init_data.js"></script>
{% endautoescape %}
