<script type="text/javascript">

function slideMenu(e, speed){
    // slide-collapse the menu columns, leaving only the handle
    $(".pull-down-menu .menu-wrapper").slideToggle( speed||170 );
    // flip the little arrow thing
    var chev = $("svg.chevron g");
    var t = chev.attr("transform");
    if (t===undefined||t==="rotate(0)"){
        chev.attr("transform", "rotate(180, 18, 21)");
    } else {
        chev.attr("transform", "rotate(0)" );
    }
}

function dropDownMenu(selector, speed){
    // turns a div into a drop down menu
    // assumes a certain structure
    // div
        // div with prompt
        // ul - list to drop
            // li
            // li
            // li
    var container = $(selector);
    var triggerDiv = container.children('div');
    // make sure it is hidden
    var list = container.children('ul');
    list.hide();
    triggerDiv.click(function(e){
            console.log('layers clicked');
            list.slideToggle( speed||170 );
            });
}

$(".pull-switch").click(slideMenu);

{% if not splash %}

slideMenu("", 100);

{% endif %}

  </script>
