{% autoescape off %}
<script type="text/javascript">

// global variables
var map,
    models,
    views,
    w, h,
    splitPage,
    markers,
    isAuth,
    isEdit,
    selectedInterviewId;

// marker variables
var mh = 26;
var mw = 26;
var sh = 10;
var sw = 4;
var bmh = 200;
var bmw = 200;
var bsh = 10;
var bsw = 4;
var baseRadius = 7;

// setup models
{% include "lottery/js/models.js" %}

// setup views
{% include "lottery/js/views.js" %}

function moveToDot(e){
    // When something is clicked, we want to move the map
    // this.__data__ accesses the data associated by d3
    // here, this.__data__ is a geojson
    var coords = this.__data__.geometry.coordinates;
    // get the point.
    map.center( {lat:coords[1], lon:coords[0]}, true );
}

function interviewMarkerData(g, collection){
	var features = g.selectAll("g")
		.data(collection.features)
		.enter()
		.append("g");
  if (isEdit){
  features.append("circle")
    .attr("class", "marker-base")
    .attr("r", baseRadius);
  }
  markers = features.append("a")
		.attr("xlink:href", function(d){
			// add links for now, this will change later
      if (splitPage){
        // we are on a split page
				return "/lottery/map-split/"+d.id+"/";
      } else { // we are on map highlight page
          if (d.id == selectedInterviewId){
            return "/lottery/map-split/"+d.id+"/";
        } else { 
          return "/lottery/map/"+d.id+"/";
          }}}).append("g")
    .attr("class","marker-links");
  markers.append("polygon")
		.attr("class", "interview-marker")
		.attr("points", function(d){
			if (d.id == selectedInterviewId){
				// big marker
				return bmw+",0 0,0 0,"+bmh+" "+((bmw/2)-bsw)+","+bmh+" "+((bmw/2)-bsw)+","+(bmh+bsh)+" "+(bmw/2)+","+bmh+" "+bmw+","+bmh+" ";
			} else {
				// little marker
				return mw+",0 0,0 0,"+mh+" "+((mw/2)-sw)+","+mh+" "+((mw/2)-sw)+","+(mh+sh)+" "+(mw/2)+","+mh+" "+mw+","+mh+" ";
        }})
  markers.append("image")
    .attr("xlink:href", function(d){
        if (d.id == selectedInterviewId){
          return d.properties.photo;
        } else {
          return "";
        }}).attr('width', function(d){
          if (d.id == selectedInterviewId){
            return bmw - 12;
          } else {
            return 0;
        }}).attr('height', function(d){
          if (d.id == selectedInterviewId){
            return bmh - 12;
          } else {
            return 0;
        }});
    return features;
}

function interviewMarkerDraw( features ){
  features.attr("transform",function(d){
        var x = geoJsonProject(d)[0];
        var y = geoJsonProject(d)[1];
        return "translate("+x+","+y+")";
      });
	markers.attr("transform",function(d){
			if (d.id == selectedInterviewId){
				var x = -bmw/2 + bsw;
				var y = -(bmh+bsh);
			} else {
				var x = -mw/2 + sw;
				var y = -(mh+sh);
			}
		return "translate("+x+","+y+")";
		});
}

function setMapSize(){
    w = $(document).width();
    h = $(window).height();
    $('#map').height(h);
}

function splitStyles(){
  $('.bigicon svg g').attr('transform',
      'scale(5,5)');
  $('.quote-delete svg.x g').attr('transform',
      'scale(0.7,0.7)');
  $('.audio-play svg.speaker g').attr('transform',
      'scale(0.7,0.7)');
}

function layerSetup(obj){
    map = obj;

    // make the layer
    var interviewLayer = d3GeoJsonLayer('d3-vec');
    // edit draw and data functions
    interviewLayer.customData( interviewMarkerData );
    interviewLayer.customDraw( interviewMarkerDraw );
    // add data
    interviewLayer.data(interviewGeoJsons);
    // add listeners
    interviewLayer.on('click', moveToDot);
    // add the layer
    map.addLayer( interviewLayer );

    {% if not edit_mode %}

    // add all the geojson layers
    for (i=0;i<models.mapLayers.length;i++){
      // get the layer
      var thisLayer = models.mapLayers[i];
      if (thisLayer.type == 'geoJson'){
        // make the actual d3 layer
        var d3Layer = d3GeoJsonLayer(thisLayer.name);
        // assume a features attribute containing the data
        d3Layer.data(thisLayer.features);
        map.addLayer(d3Layer);
      }
    }

    {% endif %}
}

function mapSetup(obj){
    layerSetup(obj);

    {% if mapcenter %}
    // center the map
    var center = new MM.Location({{mapcenter.1}}, {{mapcenter.0}});
    map.center( center );
    map.zoom(17); // zoom in 
    {% endif %}
    map.setZoomRange(12,18);
    map.interaction.off();
}

$(window).ready(function(){
    isAuth = {%if is_authenticated%}true{%else%}false{%endif%};
    isEdit = {%if edit_mode%}true{%else%}false{%endif%};
    setMapSize();
    splitStyles();
    // interview location geojsons
    interviewGeoJsons = {{interviewGeoJsons}};

    dropDownMenu(".layer_controls", 100);

    {% if selected_interview %}
    selectedInterviewId = {{selected_interview}};
    {% endif %}

    var path = window.location.pathname;
    splitPage = (path.indexOf("split") !== -1);

    var basemap = 'sw2279.NewYork';
    // add all mapbox layers to map
    var layerSet = [basemap, {% if not edit_mode %}{% if mapbox_layers %}{% for mblayer in mapbox_layers %}
    "{{mblayer.mapbox_url}}",{% endfor %}
    {%endif%}{%endif%}];
    
    mapbox.auto('map', layerSet, mapSetup);

    // layer listeners
    // this function turns layers off
    $('.maplayer').click(function(e){
      // get the layer id
      var layerName = $(this).attr('id');
      // lookup the layer object
      var layerObj = models.getByAtt('mapLayers', 'name', layerName);
      // change the class, turn it off or on
      if ($(this).hasClass('on')){
        $(this).removeClass('on').addClass('off')
           .find('.maplayerstatus').html('OFF');

        // now go to the map and turn it off
        if (layerObj.type.indexOf('mapbox')!==-1){
          // it's a mapbox tile layer
          map.disableLayer(layerObj.mapbox_url);
        } else {
          // let's assume it's a d3GeoJsonLayer
          // make it disapper
          $('.'+layerObj.name).css("display", "none");
          // there is probably a better way to disable this
        }
      } else { // assume it is off
        $(this).removeClass('off').addClass('on')
           .find('.maplayerstatus').html('ON');

        // now go to the map and turn it off
        if (layerObj.type.indexOf('mapbox')!==-1){
          // it's a mapbox tile layer
          map.enableLayer(layerObj.mapbox_url);
        } else {
          // let's assume it's a d3GeoJsonLayer
          // there is probably a better way to disable this
          $('.'+layerObj.name).css("display", "block");
        }
      }
    }); 


}); // end window ready function
    
</script>
{% endautoescape %}


