{% extends "lottery/interview_list.html" %}
{% load static %}

{% block contents %}
<p><a href="/"><em>CityDigits</em></a> is a collaboration between the 
        <a href="http://schools.nyc.gov/SchoolPortals/32/K549/default.htm">Bushwick
        School for Social Justice</a>, the
    <a href="http://welcometocup.org/">Center for Urban Pedagogy</a>, the 
    <a href="http://www.civicdatadesignproject.org/">MIT Civic
        Data Design Project</a>, and
    <a href="http://www.brooklyn.cuny.edu/web/home.php">Booklyn College</a>, and is
    funded by the <a href="http://www.nsf.gov/">National
        Science Foundation</a>. All lottery data has been
    supplied by the <a href="http://nylottery.ny.gov/">New York State Lottery</a>.
</p>

{% endblock %}

{% block js %}
    {% include "js/jquery" %}
    {% include "lottery/js/dropdown_js.html" %}
{% endblock %}

