{% load static %}
<!doctype html>
<html lang="{% if language %}{{language}}{% else %}en-us{%endif %}">
    <head>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
      <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.png">
        <meta charset="UTF-8">
        <title>{% block title %}{%if page_title %}{{ page_title }}{%else%}Lottery - CityDigits{%endif%}{% endblock %}</title>
        <link rel="stylesheet" href="{% get_static_prefix %}css/base.css" type="text/css"/>
        {% block css %}
        {% endblock %}
    </head>
    <body>
      {% block body %}
      {% endblock %}
        <script type="text/javascript" src="{% get_static_prefix %}lib/jquery.min.js"></script>
        {% block js %}
        {% endblock %}
    </body>
</html>





