{% load static %}
{% load markymark %}

<div class="interview-column">
    <img class="interview-photo" src="http://localhost/media/citydigits/lottery/photos/Dennis-Potter-005.jpg">
    <div class="interview-description">
        {{interview.description}}
    </div>
    <!--to every question, add a way to add a recording-->
    {% for question, answers in interview.questions.items %}
    <div class="questionblock">
        <div class="question">
            {{question}}
        </div>
        {% if is_authenticated %}
        {% endif %}
        <div class="answer_audio">
            <img class="audio-example" src="http://localhost/static/citydigits/img/audio-inverse.png" />
        </div>
        <div class="quotes">
        {% for answer in answers %}
            <div class="answer-quote">
            <span class="qm">“</span>{{answer}}<span class="qm">”</span>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
