{% extends "lottery/interview_map.html" %}
{% load static %}
{% load markymark %}

{% block css %}
  <link rel="stylesheet" href="{% get_static_prefix %}css/map.css" type="text/css"/>
  <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.js'></script>
  <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.7/mapbox.css' rel='stylesheet' />
{% endblock %}

{% block contents %}
<div id='map'></div>
<div id='interview'>
    {% include "lottery/interview_body.html" %}
</div>
{% endblock %}

{% block js %}
    {% include "js/jquery" %}
    {% include "js/d3" %}
    {% include "lottery/js/dropdown_js.html" %}
    {% include "lottery/js/load_map.html" %}
{% endblock %}


