{% load static %}
<div class="pull-down-menu">
    <div class="menu-wrapper">
        <div class="columns">
            <div class="col-big">
                {% if is_authenticated %}
                    {% include "lottery/pull_down-user.html" %}
                {% else %}
                    {% include "lottery/pull_down_intro.html" %}
                {% endif %}
            </div>
            <!--end big clumn-->
            <div class="col-small">
              {% if menu.small.contents %}
                {{ menu.small.contents }}
              {% endif %}
              {% if menu.small.links %}
              <ul class="menu-nav-list">
                {% for link in menu.small.links %}
                <a class="menu-nav-link" href="{{link.url}}">
                  <li>{{link.text}}</li>
                </a>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <!--end small column-->
        </div>
        <!--end columns-->
    </div>
    <!--end menu wrapper-->
    <div class="handle-wrapper">
        <div class="pull-handle">
                {% if is_authenticated and edit_mode %}
                    <!--show controls if someone wants to edit things-->
                    <div class="user_controls">
                        <div class="control-prompt">
                            Add a new interview to the map
                        </div>
                        <div class="control-button">
                            {% include "lottery/svg/add_marker.svg" %}
                        </div>
                    </div>
                    <!--end user controls-->
                {% else %}
                    <!--show layers if not in edit and maplayers are in context-->
                    {% if maplayers %}
                    <div class="layer_controls">
                        <div class="layer-controls-prompt">
                            Change Map Layers
                        </div>
                        <ul class="layerlist">
                        {% for layer in maplayers %}
                            {% if layer.status == "ON" %}
                            <li id="{{layer.name}}" class="maplayer on">
                            {% else %}
                            <li id="{{layer.name}}" class="maplayer off">
                            {% endif %}
                            <span class="maplayername">{{layer.full_name}}</span>
                            <span class="maplayerstatus">{{layer.status}}</span>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <!--end layer controls-->
                {% endif %}
                {% endif %}
                {% if is_authenticated %}
                <div class="edit-mode-link">
                    {% if edit_mode %}
                        Stop editing interviews
                    {% else %}
                        Start editing interviews
                    {% endif %}
                </div> 
                <!--end edit mode link-->
                {% endif %}
                <div class="pull-switch">
                    {% include "lottery/svg/chevron" %}
                </div>
        </div>
        <!--end pull handle-->
    </div>
    <!--end handle wrapper-->
</div>




