{% load static %}
<div class="pull-down-menu">
    <div class="columns">
        <div class="col-big">
            {% include "lottery/pull_down_intro.html" %}
        </div>
        <div class="col-small">
          {% if menu.small.contents %}
            {{ menu.small.contents }}
          {% endif %}
          {% if menu.small.links %}
          <ul class="menu-nav-list">
            {% for link in menu.small.links %}
            <a class="menu-nav-link" href="{{link.url}}">
              <li>{{link.text}}</li>
            </a>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
    </div>
    <div class="pull-handle">
        {% if is_authenticated %}
            <div class="user_controls">
                <div class="control-button">
                    {% include "lottery/svg/add_marker.svg" %}
                </div>
                <div class="control-button">
                    {% include "lottery/svg/document.svg" %}
                </div>
                <div class="control-button">
                    {% include "lottery/svg/camera_simple.svg" %}
                </div>
                <div class="control-button">
                    {% include "lottery/svg/microphone.svg" %}
                </div>
            </div>
            {% include "lottery/svg/chevron" %}
        {% endif %}
    </div>
</div>




