// Typography Dimensions
@char: 20px;
@vu: 36px;
@gut: 12px;
@col: 180px;
@pad: 12px;

// colors
@import "fonts/OpenGeorgia.less";
@import "civicdata_colors.less";
@import "grids.less";

// URLS
@static_prefix: "http://localhost/static/citydigits/";

.icon(@color:@white, @opacity:0.2){
  height: @vu;
  width: @vu;
  padding-top: 8px;
  svg {
    fill: @color;
    opacity: @opacity;
  }
  &:hover {
    svg {
      fill: @magenta;
      opacity: @opacity + 0.5;
    }
  }
}


// Base Types
em {
  font-style: italic;
}
strong {
  font-weight: 600;
}
h1, h2, h3, h4 {
  font-weight: 600;
  font-size: 1em;
  .clear;
}
h1 {
  font-size: 1.2em;
}
p, ul, li {
  .clear;
}
ul {
  list-style-type: none;
}


// General Settings
html {
  .clear;
}

body {
  .clear;
  font-family: @sans;
  font-size: @char;
  line-height: @vu;
  font-weight: 300;
  .maincolor;
}

a {
  text-decoration: none;
  color: @link;
  &:visited  {
    color: @link;
  }
  &:hover {
    color: @magenta;
  }
}



#header {
  background-color: rgba(0,0,0,0.8);
  color: @white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  a {
    color: @white;
    &:visited {
      color: @white;
    }
    &:hover {
      color: @magenta;
    }
  }
}

.column {
  padding-top: 2 * @vu;
  .cols(4);
  p {
    .xpad();
    margin-bottom: @vu;
  }
  p.notice {
    font-size: 0.7em;
    line-height: @char;
  }
}


#contents {
}

#map {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.pull-down-menu {
  margin: 0 auto;
  .cols(6);
  .columns {
    padding-top: @vu;
    .col-big {
      .cols(4);
      position: absolute;
    }
    .col-small {
      margin-left: @col * 4 + @gut * 3;
      .cols(2);
    }
    border-bottom: 1px solid @white;
  }
 
  .pull-handle {
    text-align: center;
    cursor: pointer;
    background-color: @black;
    opacity: 1.0;
    div.user_controls {
      position: absolute;
      margin-left: 0;
      padding-left: @pad;
      .control-button {
        float: left;
        .icon( @white, 0.7);
        margin-right: @gut;
      }
      .control-prompt {
        font-style: italic;
        padding-top: @pad/2;
        .cols(2);
      }
      &:hover {
        color: @magenta;
        svg {
          fill: @magenta;
        }
      }
    }

    div.pull-switch {
      margin: 0 auto;
      width: @col;
      text-align: center;
      &:hover {
        svg {
          fill: @magenta;
          opacity: 0.7;
        }
      }
    }
    svg.chevron {
      fill: @white;
      opacity: 0.2;
    }
    g.flipped {
      transform: rotate(180, 18, 18);
    }
    .edit-mode-link {
      position: absolute;
      margin-left: @col * 4 + @gut * 3;
      padding-top: @pad/2;
      &:hover {
        color: @magenta;
      }
    }
  }
}

// Photo Grid CSS
.photogrid {
  .xpad();
  margin-top: 2 * @vu;
  li {
    float: left;
    margin-right: @gut;
    .interview-overlay {
      .xpad();
      color: @text;
      position: absolute;
      z-index: 2;
    }
    img {
      filter: url("@{static_prefix}img/filters.svg#grayscale");
      filter: gray;
      -webkit-filter: grayscale(1);
      height: @vu * 8;
      opacity: 0.8;
    } 
  }
  a:hover {
    li{img{opacity: 0.5;}}
  }
}
// Interview detail CSS
.interview {
  margin: 0 auto;
  .cols(4);
  margin-top: 2 * @vu;
  .xpad();
  img.interview-photo {
    .cols(2);
    float: left;
    margin-right: @gut + @pad;
  }
  .interview-text {
    p {
      margin-bottom: @vu / 2;
    }
    .punct {
      color: @magenta;
    }
  }
}

