@import "base.less";


#map {
  .d3-vec {
    position: relative;
  }
  polygon.interview-marker {
    fill: @magenta;
    opacity: 0.8;
    &:hover {
      cursor: pointer;
      stroke: @black;
      stroke-width: 2;
    }
  }
}



