@import "base.less";


#map {
  .d3-vec {
    position: relative;
  }
  svg circle {
    fill: @magenta;
    &:hover {
      cursor: pointer;
      stroke: @black;
      stroke-width: 3;
    }
  }
}



