/*
Font Settings for open sans
    Open Sans weights (300, 400, 600, 700)
    an 800 exists but I wouldn't want to use it.
    
*/
em {
  font-style: italic;
}
strong {
  font-weight: 600;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 1.2em;
}
p,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  font-size: 20px;
  line-height: 36px;
  font-weight: 300;
  background-color: #fcfcfc;
  color: #000000;
}
a {
  text-decoration: none;
  color: #0d2630;
}
a:visited {
  color: #0d2630;
}
a:hover {
  color: #b00951;
}
#header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
}
#header a {
  color: #fcfcfc;
}
#header a:visited {
  color: #fcfcfc;
}
#header a:hover {
  color: #b00951;
}
.column {
  padding-top: 72px;
  width: 756px;
}
.column p {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 36px;
}
.column p.notice {
  font-size: 0.7em;
  line-height: 20px;
}
#map {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.pull-down-menu {
  background-color: rgba(0, 0, 0, 0.82);
  color: #fcfcfc;
}
.pull-down-menu .menu-wrapper {
  position: relative;
  border-bottom: 1px solid #fcfcfc;
  width: 100%;
  padding-bottom: 9px;
}
.pull-down-menu .menu-wrapper .columns {
  margin: 0 auto;
  width: 1140px;
  padding-top: 36px;
}
.pull-down-menu .menu-wrapper .columns .col-big {
  padding-left: 12px;
  padding-right: 12px;
  width: 756px;
  position: absolute;
}
.pull-down-menu .menu-wrapper .columns .col-small {
  margin-left: 756px;
  padding-left: 12px;
  padding-right: 12px;
  width: 372px;
}
.pull-down-menu .handle-wrapper {
  text-align: center;
  width: 100%;
  background-color: #000000;
  opacity: 1.0;
  padding-top: 9px;
}
.pull-down-menu .handle-wrapper .pull-handle {
  margin: 0 auto;
  width: 1140px;
}
.pull-down-menu .handle-wrapper .pull-handle div.user_controls {
  cursor: pointer;
  position: absolute;
  margin-left: 0;
  padding-left: 12px;
}
.pull-down-menu .handle-wrapper .pull-handle div.user_controls .control-button {
  float: left;
  margin-left: 12px;
  height: 36px;
  width: 36px;
  padding-top: 8px;
}
.pull-down-menu .handle-wrapper .pull-handle div.user_controls .control-button svg {
  fill: #fcfcfc;
  opacity: 0.7;
}
.pull-down-menu .handle-wrapper .pull-handle div.user_controls .control-button:hover svg {
  fill: #b00951;
  opacity: 1.2;
}
.pull-down-menu .handle-wrapper .pull-handle div.user_controls .control-prompt {
  float: left;
  font-style: italic;
}
.pull-down-menu .handle-wrapper .pull-handle div.user_controls:hover {
  color: #b00951;
}
.pull-down-menu .handle-wrapper .pull-handle div.user_controls:hover svg {
  fill: #b00951;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls {
  width: 372px;
  position: absolute;
  margin-left: 0;
  text-align: left;
  cursor: pointer;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls .layer-controls-prompt {
  padding-left: 12px;
  padding-right: 12px;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls .layer-controls-prompt:hover {
  color: #b00951;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist {
  display: none;
  padding-top: 11px;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist li {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 1px;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist li:hover {
  color: #b00951;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist li .maplayerstatus {
  position: absolute;
  right: 12px;
  font-size: 0.7em;
  font-weight: bold;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist li.maplayer.on {
  background-color: #000000;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist li.maplayer.off {
  background-color: rgba(0, 0, 0, 0.82);
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist li.maplayer.off span {
  opacity: 0.5;
}
.pull-down-menu .handle-wrapper .pull-handle div.layer_controls ul.layerlist li.maplayer.off:hover span {
  opacity: 1.0;
}
.pull-down-menu .handle-wrapper .pull-handle div.pull-switch {
  margin: 0 auto;
  width: 180px;
  text-align: center;
  cursor: pointer;
}
.pull-down-menu .handle-wrapper .pull-handle div.pull-switch:hover svg {
  fill: #b00951;
  opacity: 0.7;
}
.pull-down-menu .handle-wrapper .pull-handle svg.chevron {
  fill: #fcfcfc;
  opacity: 0.2;
}
.pull-down-menu .handle-wrapper .pull-handle g.flipped {
  transform: rotate(180, 18, 18);
}
.pull-down-menu .handle-wrapper .pull-handle .edit-mode-link {
  position: absolute;
  margin-left: 756px;
  cursor: pointer;
}
.pull-down-menu .handle-wrapper .pull-handle .edit-mode-link:hover {
  color: #b00951;
}
.photogrid {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 72px;
}
.photogrid li {
  float: left;
  margin-right: 12px;
}
.photogrid li .interview-overlay {
  padding-left: 12px;
  padding-right: 12px;
  color: #000000;
  position: absolute;
  z-index: 2;
}
.photogrid li img {
  filter: url("http://localhost/static/citydigits/img/filters.svg#grayscale");
  filter: gray;
  -webkit-filter: grayscale(1);
  height: 288px;
  opacity: 0.8;
}
.photogrid a:hover li img {
  opacity: 0.5;
}
.interview {
  margin: 0 auto;
  width: 756px;
  margin-top: 72px;
  padding-left: 12px;
  padding-right: 12px;
}
.interview img.interview-photo {
  width: 372px;
  float: left;
  margin-right: 24px;
}
.interview .interview-text p {
  margin-bottom: 18px;
}
.interview .interview-text .punct {
  color: #b00951;
}
#map .d3-vec {
  position: relative;
}
#map circle.marker-base {
  fill: #b00951;
  opacity: 0.2;
}
#map circle.marker-base:hover {
  cursor: pointer;
  opacity: 1.0;
}
#map polygon.interview-marker {
  fill: #000000;
  opacity: 0.5;
}
#map polygon.interview-marker:hover {
  cursor: pointer;
  opacity: 1.0;
}
#map {
  position: fixed !important;
  width: 50%;
  float: left;
}
#interview {
  text-align: center;
  width: 50%;
  margin-left: 50%;
}
#interview .interview-column {
  margin: 0 auto;
  text-align: left;
  width: 564px;
}
#interview .interview-column .interview-photo-wrapper {
  height: 360px;
  overflow: hidden;
}
#interview .interview-column .interview-photo-wrapper .interview-photo {
  width: 564px;
}
#interview .interview-column .interview-photo-input {
  width: 564px;
  background-color: #cccccc;
  height: 360px;
  text-align: center;
  position: relative;
  cursor: pointer;
}
#interview .interview-column .interview-photo-input:hover path {
  fill: #b00951;
}
#interview .interview-column .interview-photo-input .bigicon {
  height: 36px;
  width: 36px;
  padding-top: 8px;
  margin: 0 auto;
  height: 180px;
  width: 180px;
  padding-top: 0;
}
#interview .interview-column .interview-photo-input .bigicon svg {
  fill: #fcfcfc;
  opacity: 0.9;
}
#interview .interview-column .interview-photo-input .bigicon:hover svg {
  fill: #b00951;
  opacity: 1.4;
}
#interview .interview-column .interview-photo-input .bigicon svg {
  margin-top: 72px;
}
#interview .interview-column .interview-photo-input .prompt {
  margin-top: 72px;
}
#interview .interview-column .interview-description {
  margin-top: 36px;
  width: 564px;
  font-size: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
}
#interview .interview-column .interview-description input.interview-description-input {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: bold;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  width: 564px;
  border: 1px solid #000000;
}
#interview .interview-column .questionblock {
  border-top: 1px solid #808080;
  width: 564px;
  margin-bottom: 18px;
  margin-top: 18px;
}
#interview .interview-column .questionblock .record-button {
  position: absolute;
  margin-left: -12px;
  padding-top: 12px;
  cursor: pointer;
}
#interview .interview-column .questionblock .record-button:hover svg {
  fill: #b00951;
}
#interview .interview-column .questionblock .question {
  margin-top: 9px;
  padding-left: 12px;
  padding-right: 12px;
  font-weight: bold;
  font-style: italic;
  color: #999999;
}
#interview .interview-column .questionblock .question .audio-play {
  position: absolute;
  margin-left: 504px;
  cursor: pointer;
  padding-top: 4px;
}
#interview .interview-column .questionblock .question .audio-play svg {
  height: 36px;
  width: 36px;
}
#interview .interview-column .questionblock .question .audio-play:hover svg {
  fill: #b00951;
}
#interview .interview-column .questionblock .answer_audio {
  margin-top: 9px;
  padding-left: 12px;
  padding-right: 12px;
  padding-left: 48px;
}
#interview .interview-column .questionblock .answer_audio .audio-delete {
  position: absolute;
  margin-left: 360px;
  cursor: pointer;
}
#interview .interview-column .questionblock .answer_audio .audio-delete svg {
  height: 36px;
  width: 36px;
}
#interview .interview-column .questionblock .answer_audio .audio-delete:hover svg {
  fill: #b00951;
}
#interview .interview-column .questionblock .quotes {
  padding-left: 12px;
  padding-right: 12px;
}
#interview .interview-column .questionblock .quotes .answer-quote {
  border-top: 1px solid #cccccc;
  margin-left: 36px;
  font-style: italic;
}
#interview .interview-column .questionblock .quotes .answer-quote .quote-delete {
  cursor: pointer;
}
#interview .interview-column .questionblock .quotes .answer-quote .quote-delete svg {
  width: 20px;
  height: 20px;
}
#interview .interview-column .questionblock .quotes .answer-quote .quote-delete:hover svg {
  fill: #b00951;
}
#interview .interview-column .questionblock .quotes .answer-quote .answer-quote-input {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Droid Sans", "Arial", sans-serif;
  border: 0;
  border: 1px solid #000000;
  font-size: 20px;
  font-style: italic;
  width: 480px;
  font-weight: 200;
}
#interview .interview-column .questionblock .quotes .answer-quote .qm {
  color: #999999;
  font-weight: bold;
}
