        <div class="question" uuid="{{uuid}}">
            {{^edit_mode}}
                {{#main_audio}}
                    <div class="audio-play">
                        <embed src="/static/lottery/svg/speaker.svg" type="image/svg+xml" />
                    </div>
                {{/main_audio}}
            {{/edit_mode}}
            <div class="question-text">
                {{text_en}}
            </div>

            {{#edit_mode}}
            {{#audios}}
               {{>audio}}
            {{/audios}}
            {{/edit_mode}}
        </div>
        <!--end of question block-->
