{% load static %}
<!doctype html>
<html lang="{% if language %}{{language}}{% else %}en-us{%endif %}">
    <head>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
      <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.png">
        <meta charset="UTF-8">
        <title>{% block title %}{%if page_title %}{{ page_title }}{%else%}CityDigits{%endif%}{% endblock %}</title>
        {% block css %}
        <link rel="stylesheet" href="{% get_static_prefix %}css/base.css" type="text/css"/>
        {% endblock %}
    </head>
    <body>
      {% block body %}
      <div id="header">
          {% block header %}
          <h1>CityDigits</h1>
          {% endblock %}
      </div>
      <div id="contents">
          {% block contents %}
          <div class="column">
            <p>City Digits is a collaborative project among MIT’s Civic Data
            Design Project, Brooklyn’s Center for Urban Pedagogy, and CUNY’s
            Brooklyn College, to develop and pilot test innovative resources 
            and tools that support high school students’ learning of 
            mathematics.</p>
            <p>City Digits is designing two, place-based curricular modules to
            investigate and analyze specific themes related to the local, urban
            context. The curricular modules will be enhanced by the integration
            of geo-spatial technologies that enable students to explore local
            their urban landscape, collect field data, and organize and
            visualize patterns. Our first module is about state lotteries, with
            pilot testing scheduled for April 2013.  </p>
            <p class="notice">This material is based upon work supported by the
            National Science Foundation under Grant No. DRL-1222430. Any
            opinions, findings, and conclusions or recommendations expressed in
            this material are those of the author(s) and do not necessarily
            reflect the views of the National Science Foundation.</p>
            <p><a href="/lottery">Check out the lottery application.</a></p>
          </div>
          {% endblock %}
      </div>
      {% endblock %}
        {% block js %}
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery.min.js"></script>
        {% endblock %}
    </body>
</html>





